<p id="notice"><%= notice %></p>

<h1>Listing Business Types</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>Example data here</td>
      </tr>
  </tbody>
</table>

<br>
