<h1>Customer details</h1>

<%= form_for(@customer, :url => proto_pages_path('customer'), html: {autocomplete: 'off', :method => :post}) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit %>

<% end %>
