<% if @unknown_page.blank? %>
  <% @unknown_page = 'foo' if @unknown_page.blank? %>
  <div><em>You are seeing me because you came directly to the <strong>unknown</strong> page. Therefore <strong>foo</strong> is simply an example.</em></div>
  <hr>
<% end %>

<h1>'<%= @unknown_page %>' is unknown</h1>

<p>You are seeing this page because a call was made to the page <strong><%= @unknown_page %></strong>, however it is unknown.</p>

<p>The most likely cause is that the view <code>app/views/pages/<%= @unknown_page %>.html.erb</code> doesn't exist.</p>

<p>If the page name is correct add the missing view, else a likely cause for the problem is a call to <code>proto_pages_path('<%= @unknown_page %>')</code> somewhere in your code.</p>
