<%= link_to('Home', proto_pages_path('home')) %>

<h1>Static content example</h1>

<p>This is an example of a static page. To create your own static page you
simply need to create it in the <code>app/views/pages</code> folder. You are
free to place pages in subfolders (like this one has been) to help organise your
work. That's it!</p>

<p>The kit will take care of the rest and will know that anyone visiting
<em>/pages/example1</em> should be shown this page.</p>
